<div class="mainContainer">
    <div class="websiteName">
        Paper Trading App
    </div>
    <div class="tabsContainer">
        <div class="tabsButton" (click)="navigateToDashboard()">
            Dashboard
        </div>
        <div class="tabsButton" (click)="navigateToWatchlist()">
            Watchlist
        </div>
        <div class="tabsButton" (click)="navigateToHoldings()">
            Holdings
        </div>
        <div class="tabsButton" (click)="navigateToAccount()">
            Account
        </div>
    </div>
</div>
