<div class="mainContainer">
    <div class="nameContainer">
        Hi {{userData?.data?.username}},
    </div>
    <div class="nameContainer">
        Welcome back
    </div>
    <!-- <hr style="color: lightgray; width: 95%;">
    <div class="holdingsDiv">
        <div style="font-size: 26px; font-weight: 300;">Holdings (4)</div>
        <div class="holdingsDiv2">
            <div class="profitContainer">
                <div style="color: green;">
                    <span style="font-size: 34px; ">Rs.2000</span>
                    <span style="margin-left: 10px;">+20%</span>
                </div>
                <span>P&L</span>
            </div>
            <div class="captialContainer">
                <div>
                    <span style="color: gray;">Current: </span>
                    <span style="margin-left: 5px; font-weight: 500; font-size: 18px;">Rs. 10000</span>
                </div>
                <div>
                    <span style="color: grey;">Initial: </span>
                    <span style="margin-left: 15px; font-weight: 500; font-size: 18px;">Rs. 8000</span>
                </div>
            </div>
        </div>
        
    </div> -->
</div>

